<p id="notice"><%= notice %></p>

<h1>Atores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= link_to 'Ver', actor %></td>
        <td><%= link_to 'Editar', edit_actor_path(actor) %></td>
        <td><%= link_to 'Deletar', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo ator', new_actor_path %> 
<br>
<%= link_to 'Formar Elenco', new_cast_path %>
