<p id="notice"><%= notice %></p>

<h1>Fitas</h1>

<table>
  <thead>
    <tr>
      <td>Número da fita</td>
      <td>Nome do Filme</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ribbons.each do |ribbon| %>
      <tr>
        <td><%= ribbon.id %></td>
        <td><%= ribbon.film.title %></td>
        <td><%= link_to 'Ver', ribbon %></td>
        <td><%= link_to 'Editar', edit_ribbon_path(ribbon) %></td>
        <td><%= link_to 'Deletar', ribbon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Fita', new_ribbon_path %>
