<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @film.category %>
</p>

<p>
  <strong>Situação:</strong>
  <%= if @film.available == true
          "Disponível"
      else "Indisponível"
      end
  %>
</p>

<p>
  <strong>Elenco:</strong>
  <%= @film.actors.pluck(:name) %>
</p>


<p>
  <strong>Fita(s):</strong>
  <% @film.ribbons.each do |ribbon| %>
    <span><%= ribbon.id %></span>
  <% end %>

</p>

<%= link_to 'Editar', edit_film_path(@film) %> |
<%= link_to 'Voltar', films_path %>
