<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @film.category %>
</p>

<p>
  <strong>Disponível:</strong>
  <%= @film.available %>
</p>

<p>
  <strong>Elenco:</strong>
  <%= @film.cast.actor.name %>
</p>

<p>
  <strong>Fita:</strong>
  <%= @ribbon = Ribbon.find(params[:id]).id %>
</p>

<%= link_to 'Editar', edit_film_path(@film) %> |
<%= link_to 'Voltar', films_path %>
