<%= form_with(model: cast) do |form| %>
  <% if cast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cast.errors.count, "error") %> prohibited this cast from being saved:</h2>

      <ul>
        <% cast.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :film_id %>
    <%= form.collection_select(:film_id, Film.all, :id, :title, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :actor_id %>
    <%= form.collection_select(:actor_id, Actor.all, :id, :name, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
