<p id="notice"><%= notice %></p>

<p>
  <strong>Film:</strong>
  <%= @cast.film_id %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @cast.actor_id %>
</p>

<%= link_to 'Edit', edit_cast_path(@cast) %> |
<%= link_to 'Back', casts_path %>
