<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 

  <div class="field">
    <%= form.label :Data_de_devolução %>
    <%= form.date_select :devolved_date %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select(:client_id, Client.all, :id, :name, prompt: true) %>
  </div>
 

  <div class="field">
    <%= form.label :Filmes %>
    <style>
      table, tr td{
        border: 1px solid  #ccc;
      }

    </style>
    <table>
        <thead>
        <td>Título</td>
        <td>Categoria</td>
        <td>Situação</td>
        <td>Adicionar</td>
        </thead>
      <%= @location.idFilm.each do |film| %>
        <tbody>
        <tr>
          <td><%= film.title %></td>
          <td><%= film.category %></td>
          <td><%= 
                if film.available == true
                    "Disponível"
                else "Indisponível"
                end
              %>
          </td>
          <td><a href="/films/<%= film.id %>">Add</a></td>
        </tr>
        </tbody>
      <% end %>

    </table>
  </div>

  <div class="actions">
    <%= form.submit :Salvar %>
  </div>
<% end %>
