<p id="notice"><%= notice %></p>

<p>
  <strong>Devolved date:</strong>
  <%= @location.devolved_date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @location.client_id %>
</p>

<p>
  <strong>Film:</strong>
  <%= @location.film_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
