<p id="notice"><%= notice %></p>
<h1> Locação Nº <%= @location.id %> - <%= @location.client.name %> </h1>

<p>
  <strong>Devolved date:</strong>
  <%= @location.devolved_date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @location.client.name %>
</p>

<p>
<strong>Nº ID Fita(s):</strong>
<% if @location.basket.nil? %>

<%= link_to 'Agora escolha os Filmes:', baskets_path %>
<% else %>
  <% @location.ribbons.each do |item| %>
  <span>Fita:<%= item.id %></span><p>Filme:<%= item.film.title %></p>
  <% end %>
<% end %>
</p>


<br>
<br>
<%= link_to 'Adicionar Filmes', new_basket_path %>
<br>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
